<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Lecture time list</title>
</head>

<body>
	<h1>Lecture times</h1>
	<a th:href="@{lecturetimes/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="lectureTime : ${lectureTimes}">
			<td th:text="${lectureTime.start}">Start</td>
			<td th:text="${lectureTime.end}">End</td>
			<td>
				<a th:href="@{/lecturetimes/{id}(id=${lectureTime.id})}" th:text="Show">Full info about lecture time</a>
			</td>
			<td>
				<a th:href="@{/lecturetimes/{id}/edit(id=${lectureTime.id})}" th:text="Edit">Edit lecture time</a>
			</td>
			<td>
				<a th:href="@{/lecturetimes/{id}/delete(id=${lectureTime.id})}" th:text="Delete">Delete lecture time</a>
			</td>
		</tr>
	</table>
</body>