<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Student list</title>
</head>

<body>
	<h1>Students</h1>
	<a th:href="@{students/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="student : ${students}">
			<td th:text="${student.firstName} + ' ' + ${student.lastName}">Name</td>
			<td th:text="${student.phone}">Phone number</td>
			<td th:text="${student.address}">Address</td>
			<td th:text="${student.email}">Email</td>
			<td th:text="${student.gender}">Gender</td>
			<td th:text="${student.postalCode}">Postal code</td>
			<td th:text="${student.education}">Education</td>
			<td th:text="${student.birthDate}">Birth date</td>
			<td th:text="${student?.group?.name}">Group</td>
			<td>
				<a th:href="@{/students/{id}(id=${student.id})}" th:text="Show">Full info about student</a>
			</td>
			<td>
				<a th:href="@{/students/{id}/edit(id=${student.id})}" th:text="Edit">Edit student</a>
			</td>
			<td>
				<form th:method="DELETE" th:action="@{/students/{id}(id=${student.id})}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
</body>