<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Group list</title>
</head>

<body>
	<h1>Groups</h1>
	<a th:href="@{/groups/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="group : ${groups}">
			<td th:text="${group.name}">Name</td>
			<td>
				<a th:href="@{/groups/{id}(id=${group.id})}" th:text="Show">Full info about group</a>
			</td>
			<td>
				<a th:href="@{/groups/{id}/edit(id=${group.id})}" th:text="Edit">Edit group</a>
			</td>
			<td>
				<form th:method="DELETE" th:action="@{/groups/{id}(id=${group.id})}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
</body>