<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>New group</title>
</head>

<body>
	<h1>Create new group</h1>

	<form method="POST" th:action="@{/groups}" th:object="${group}">
	<label for="cathedraSelector">Choose cathedra: </label> 
		<select id="cathedraSelector" th:field="*{cathedra.id}" required>
			<option th:each="anyCathedra : ${cathedrasAttribute}"
	            th:field="*{cathedra.id}"
	            th:value="${anyCathedra?.id}"
	            th:text="${anyCathedra?.name}">Cathedra name
	        </option>
		</select> <br>
	
		<label for="name">Enter name: </label> 
		<input type="text" th:field="*{name}" id="name" required><br>
		
		<input type="submit" value="Create!">
	</form>
</body>