<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Teacher list</title>
</head>

<body>
	<h1>Teachers</h1>
	<a th:href="@{teachers/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="teacher : ${teachers}">
			<td th:text="${teacher.firstName} + ' ' + ${teacher.getLastName()}">Name</td>
			<td th:text="${teacher.phone}">Phone number</td>
			<td th:text="${teacher.address}">Address</td>
			<td th:text="${teacher.email}">Email</td>
			<td th:text="${teacher.gender}">Gender</td>
			<td th:text="${teacher.postalCode}">Postal code</td>
			<td th:text="${teacher.education}">Education</td>
			<td th:text="${teacher.birthDate}">Birth date</td>
			<td th:text="${teacher.degree}">Degree</td>
			<td>
				<ul th:each="subject : ${teacher.subjects}">
					<li th:text="${subject.name}">Subject</li>
				</ul>
			</td>
			<td>
				<a th:href="@{/teachers/{id}/vacations(id=${teacher.id})}" th:text="Vacations">Teachers vacations</a>
			</td>
			<td>
				<a th:href="@{/teachers/{id}(id=${teacher.id})}" th:text="Show">Full info about teacher</a>
			</td>
			<td>
				<a th:href="@{/teachers/{id}/edit(id=${teacher.id})}" th:text="Edit">Edit teacher</a>
			</td>
			<td>
				<a th:href="@{/teachers/{id}/delete(id=${teacher.id})}" th:text="Delete">Delete teacher</a>
			</td>
		</tr>
	</table>
</body>