<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>My app</title>
</head>

<body>

	<h1>
		Welcome to <span th:text="${cathedraName}"></span> home page!
	</h1>
	<p>
		<a href="students">Students</</a>
	</p>
	<p>
		<a href="teachers">Teachers</</a>
	</p>
	<p>
		<a href="lectures">Lectures</</a>
	</p>
	<p>
		<a href="lecturetimes">Lecture times</</a>
	</p>
	<p>
		<a href="groups">Groups</</a>
	</p>
	<p>
		<a href="subjects">Subjects</</a>
	</p>
	<p>
		<a href="audiences">Audiences</</a>
	</p>
	<p>
		<a href="holidays">Holidays</</a>
	</p>

</body>

</html>