<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Audience list</title>
</head>

<body>
	<h1>Audiences</h1>
	<a th:href="@{/audiences/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="audience : ${audiences}">
			<td th:text="${audience.room}">Room</td>
			<td th:text="${audience.capacity}">Capacity</td>
			<td>
				<a th:href="@{/audiences/{id}(id=${audience.id})}" th:text="Show">Full info about audience</a>
			</td>
			<td>
				<a th:href="@{/audiences/{id}/edit(id=${audience.id})}" th:text="Edit">Edit audience</a>
			</td>
			<td>
				<form th:method="DELETE" th:action="@{/audiences/{id}(id=${audience.id})}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
</body>