<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Edit subject</title>
</head>

<body>
	<h1 th:text="'Edit subject ' + ${subject.name}">Subject desc</h1>

	<form th:method="PATCH" th:action="@{/subjects/{id}(id=${subject.id})}" th:object="${subject}">
		<label for="cathedraSelector">Choose cathedra: </label> 
		<select id="cathedraSelector" th:field="*{cathedra.id}" required>
			<option th:each="anyCathedra : ${cathedrasAttribute}"
	            th:field="*{cathedra.id}"
	            th:value="${anyCathedra?.id}"
	            th:text="${anyCathedra?.name}">Cathedra name
	        </option>
		</select> <br>
	
		<label for="name">Enter name: </label> 
		<input type="text" th:field="*{name}" id="name" required> <br>
		
		<label for="description">Enter description: </label> 
		<input type="text" th:field="*{description}" id="description" required> <br>
		
		<input type="submit" value="Update!">
	</form>
</body>