<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Edit vacation</title>
</head>

<body>
	<h1 th:text="'Edit vacation on teacher ' + ${vacation.teacher.firstName} + ' ' + ${vacation.teacher.lastName}">Vacation desc</h1>

	<form th:method="PATCH" th:action="@{/teachers/{id}/vacations/{vacId}(id=${teacher.id},vacId=${vacation.id})}" th:object="${vacation}">
		<label for="start">Enter vacations start: </label> 
		<input type="date" th:field="*{start}" id="start" required> <br>
	
		<label for="end">Enter vacations end: </label> 
		<input type="date" th:field="*{end}" id="end" required> <br>

		<input type="submit" value="Update!">
	</form>
</body>