<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Lecture list</title>
</head>

<body>
	<h1>Lectures</h1>
	<a th:href="@{lectures/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="lecture : ${lectures}">
			<td th:text="${lecture.date}">Date</td>
			<td th:text="${lecture.time.start} + ' - ' + ${lecture.time.end}">Time</td>
			<td th:text="${lecture.audience.room}">Audience</td>
			<td th:text="${lecture.teacher.firstName} + ' ' + ${lecture.teacher.lastName}">Name</td>
			<td th:text="${lecture.subject.name}">Subject</td>
			<td>
				<ul th:each="group : ${lecture.groups}">
					<li th:text="${group?.name}">Group</li>
				</ul>
			</td>
			<td>
				<a th:href="@{/lectures/{id}(id=${lecture.id})}" th:text="Show">Full info about lecture</a>
			</td>
			<td>
				<a th:href="@{/lectures/{id}/edit(id=${lecture.id})}" th:text="Edit">Edit lecture</a>
			</td>
			<td>
				<a th:href="@{/lectures/{id}/delete(id=${lecture.id})}" th:text="Delete">Delete lecture</a>
			</td>
		</tr>
	</table>
</body>