<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Lecture list</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous" />
</head>

<body>
	<h1>Lectures</h1>
	<a th:href="@{lectures/new}" th:text="New">New</a>
	<table border="1">
		<tr th:each="lecture : ${lectures.content}">
			<td th:text="${lecture.date}">Date</td>
			<td th:text="${lecture.time.start} + ' - ' + ${lecture.time.end}">Time</td>
			<td th:text="${lecture.audience.room}">Audience</td>
			<td
				th:text="${lecture.teacher.firstName} + ' ' + ${lecture.teacher.lastName}">Name</td>
			<td th:text="${lecture.subject.name}">Subject</td>
			<td>
				<ul th:each="group : ${lecture.groups}">
					<li th:text="${group?.name}">Group</li>
				</ul>
			</td>
			<td><a th:href="@{/lectures/{id}(id=${lecture.id})}"
				th:text="Show">Full info about lecture</a></td>
			<td><a th:href="@{/lectures/{id}/edit(id=${lecture.id})}"
				th:text="Edit">Edit lecture</a></td>
			<td>
				<form th:method="DELETE"
					th:action="@{/lectures/{id}(id=${lecture.id})}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
	<br>
	<nav aria-label="Pagination" th:if="${lectures.totalPages gt 0}">
		<ul class="pagination justify-content-center font-weight-bold">
			<li class="page-item"
				th:classappend="${lectures.number eq 0} ? 'disabled'"><a
				class="page-link"
				th:href="@{/lectures?page={id}(id=${lectures.number lt 2 ? 1 : lectures.number})}"
				aria-label="Previous" title="Previous Page" data-toggle="tooltip">
					<span aria-hidden="true">&laquo;</span>
			</a></li>
			<li class="page-item"
				th:classappend="${i eq lectures.number + 1} ? 'active'"
				th:each="i : ${#numbers.sequence( 1, lectures.totalPages, 1)}">
				<a class="page-link" th:href="@{/lectures?page={id}(id=${i})}"
				th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
			</li>
			<li class="page-item"
				th:classappend="${lectures.number + 1 eq lectures.totalPages} ? 'disabled'">
				<a class="page-link"
				th:href="@{/lectures?page={id}(id=${lectures.number + 2})}"
				aria-label="Next" title="Next Page" data-toggle="tooltip"> <span
					aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
	</nav>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>
</body>
</html>