<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>New lecture</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>

<body>
	<h1>Create new lecture</h1>

	<form method="POST" th:action="@{/lectures}" th:object="${lecture}">
		<label for="cathedraSelector">Choose cathedra: </label> 
		<select id="cathedraSelector" th:field="*{cathedra.id}" required>
			<option th:each="anyCathedra : ${cathedrasAttribute}"
	            th:field="*{cathedra.id}"
	            th:value="${anyCathedra?.id}"
	            th:text="${anyCathedra?.name}">Cathedra name
	        </option>
		</select> <br>
	
		<label for="teacherSelector">Choose teacher: </label> 
		<select id="teacherSelector" th:field="*{teacher.id}" required>
			<option th:each="anyTeacher : ${teachersAttribute}"
	            th:field="*{teacher.id}"
	            th:value="${anyTeacher?.id}"
	            th:text="${anyTeacher?.firstName} + ' ' + ${anyTeacher?.lastName}">Teacher name
	        </option>
		</select> <br>
		
		<label for="audienceSelector">Choose audience: </label> 
		<select id="audienceSelector" th:field="*{audience.id}" required>
			<option th:each="anyAudience : ${audiencesAttribute}"
	            th:field="*{audience.id}"
	            th:value="${anyAudience?.id}"
	            th:text="${anyAudience?.room}">Room
	        </option>
		</select> <br>
		
		<label for="subjectSelector">Choose subject: </label> 
		<select id="subjectSelector" th:field="*{subject.id}" required>
			<option th:each="anySubject : ${subjectsAttribute}"
	            th:field="*{subject.id}"
	            th:value="${anySubject?.id}"
	            th:text="${anySubject?.name}">subject name
	        </option>
		</select> <br>
		
		<label for="date">Enter date: </label> 
		<input type="date" th:field="*{date}" id="date" required>  <br>
		
		<select id="timeSelector" th:field="*{time.id}" required>
			<option th:each="anyTime : ${timesAttribute}"
	            th:field="*{time.id}"
	            th:value="${anyTime?.id}"
	            th:text="${anyTime?.start} + ' - ' + ${anyTime?.end}">start
	        </option>
		</select> <br>
				
		<label for="groups">Choose group(s): </label> 
		<select class="form-control" id="groups" name="groups" multiple required>
			<option th:each="group: ${groupsAttribute}"
                            th:value="${group.id}"
                            th:text="${group.name}">
                            
			</option>
		</select>
		<br>
		
		<input type="submit" value="Create!">
	</form>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>