<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="ISO-8859-1">
<title>New holiday</title>
</head>

<body>
	<h1>Create new holiday</h1>

	<form action="#" method="POST" th:action="@{/holidays}" th:object="${holiday}">
		<label for="name">Enter name: </label> 
		<input type="text" th:field="*{name}" id="name"> </br>
		
		<label for="date">Enter date: </label> 
		<input type="date" th:field="*{date}" id="date"> </br>
		
		<input type="submit" value="Create!">
	</form>
</body>